
.zippyeditor 
{
    width: 1000px; 
    vertical-align: middle;
    /*position: absolute;
    left: 15%;
    top: 15%;*/
    margin: 160px auto;
}
.zippy-text-area
{
    width: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 370px;
    overflow-y: scroll;
    resize: none;
}

.toolbar-text
{
 height: 40px;
 background-color: white;   
 vertical-align: middle;
text-align: center;
    margin-left: -50px;
}
.toolbar-text ul
{

list-style-type: none;
text-align: center;
}

.toolbar-text ul li 
{
display: inline;
text-decoration: none;
padding: .7em 1em;
color: #000;
border-radius: 2px;
border: 1px solid #ddd;
width: 5px;
height: 40px;
}

